@import "~bootstrap/scss/bootstrap";


@mixin search-box($width: 24rem) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  

  .search-icon {
      margin-right: -30px;
  }

  .search-input {
    width: $width;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: solid 1px var(--color-icon);
    color: var(--color-input);
    padding: 0.4rem 2.5rem 0.4rem 3rem;
  }

  .search-input:focus {
    width: 100%;
    outline: none !important;
    border: none;
    border-bottom: solid 1px var(--color-border);
  }
}

.search-header-bar {
  @include search-box($width: 24rem);
}

.nav-search {
  padding: 1rem 0 1rem 0;
  background-color: var(--color-search-bg);
}
